*.o
*.moc
moc_*.cpp
moc_*.h
/.qmake.stash
*.pro.user
Makefile*
/.vs/piece1_10_7_2016/v15/.suo
/.vs/piece1_10_7_2016/v15/Browse.VC.db

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/debug/piece1_10_7_2016.exe
/Makefile
/Makefile.Debug
/Makefile.Release
/object_script.piece1_10_7_2016.Debug
/time.txt
/qml_qmlcache.qrc
/piece1_10_7_2016.vcxproj
/piece1_10_7_2016.sln
/piece1_10_7_2016.vcxproj.filters
/object_script.piece1_10_7_2016.Release
/piece1_10_7_2016
